<div class="tab-style3">
  <div class="tab-content shop_info_tab entry-main-content">
    <div class="tab-pane fade show active" id="Description">
      <div class="">
        <h5>Product details of <%= singleProduct.title_name %></h5>
        <ul class="mt-5">
          <li>
            <%-singleProduct.description %>
          </li>
        </ul>
        <hr class="wp-block-separator is-style-dots">
        <h5 class="mb-3 mt-2">Specifications of <%= singleProduct.title_name %></h5>
        <ul class="product-more-infor mt-30">
          <li>
            Brand: <%-singleProduct.brand_name %>
          </li>
          <li>
            Color: <%-singleProduct.color_name %>
          </li>
          <li>
            SKU: <%-singleProduct.product_sellerSKU %>
          </li>
          <p>What’s in the box: <%-singleProduct.product_box %></p>
        </ul>
      </div>

      <div class="comments-area">
        <div class="row">
          <div class="col-lg-8">
            <h4 class="mb-30">Ratings & Reviews of <%= singleProduct.title_name %></h4>
            <div class="comment-list">
              <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                  <div class="thumb text-center">
                    <!-- <img src="assets/imgs/page/avatar-6.jpg" alt=""> -->
                    <h6><a href="#">Jacky Chan</a></h6>
                  </div>
                  <div class="desc">
                    <div class="product-rate d-inline-block">
                      <div class="product-rating" style="width:90%">
                      </div>
                    </div>
                    <p>Thank you very fast shipping from Poland only 3days.</p>
                  </div>
                </div>
              </div>
              <!--single-comment -->
              <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                  <div class="thumb text-center">
                    <h6><a href="#">Ana Rosie</a></h6>
                  </div>
                  <div class="desc">
                    <div class="product-rate d-inline-block">
                      <div class="product-rating" style="width:90%">
                      </div>
                    </div>
                    <p>Great low price and works well.</p>
                  </div>
                </div>
              </div>
              <!--single-comment -->
              <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                  <div class="thumb text-center">
                    <!-- <img src="assets/imgs/page/avatar-8.jpg" alt=""> -->
                    <h6><a href="#">Steven Keny</a></h6>
                  </div>
                  <div class="desc">
                    <div class="product-rate d-inline-block">
                      <div class="product-rating" style="width:90%">
                      </div>
                    </div>
                    <p>Authentic and Beautiful, Love these way more than ever expected They are Great earphones</p>
                  </div>
                </div>
              </div>
              <!--single-comment -->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex mb-30">
              <div class="product-rate d-inline-block mr-15">
                <div class="product-rating" style="width:90%">
                </div>
              </div>
              <h6>4.8 out of 5</h6>
            </div>
            <div class="progress">
              <span>5 star</span>
              <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
            <div class="progress">
              <span>4 star</span>
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            <div class="progress">
              <span>3 star</span>
              <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
            </div>
            <div class="progress">
              <span>2 star</span>
              <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
            <div class="progress mb-30">
              <span>1 star</span>
              <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
            <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>